<div class="row justify-content-center">
    <div class="text-muted col-lg-12 ">
        <small>
            <p>
                For more details on this score please refer to:
                Cabitza, F., Campagner, A., Sconfienza, L.M., As if sand were stone. New concepts and metrics to probe the
                ground on which to build trustable AI. BMC Medical Informatics and Decision Making. <a href="https://doi.org/10.1186/s12911-020-01224-9" target="_blank">https://doi.org/10.1186/s12911-020-01224-9</a>
            </p>
            <p>Tool developed at MUDI Lab by Jury Andrea D'Onofrio, Riccardo Angius and Chiara Natali.</p>
        </small>
    </div>
</div>
<!-- <div class="row justify-content-center">
    <div class="mb-5 text-muted col-lg-12 ">
        <small>
            <a href="#eng" onclick="load_language('eng')">English</a>
            |
            <a href="#ita" onclick="load_language('ita')">Italiano</a>
        </small>
    </div>
</div> -->
